<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome</h1>
    <p class="col-md-8 fs-4">This is test :-> </p>
<h4>Rules:</h4>
<ol>
    <li>There will be 10 questions.</li>
    <li>Incorrect Questions gives you '-10' marks.  </li>
    <li>Each Question should be solved.</li>
    <li>Each Question gives you 10 marks.</li>
    <li>You will have 120 sec to answer each Question.</li>
    <li>Don't refresh the page, that will reset the quiz.</li>
</ol>
<br/>
<br/>
<h1 style="font-family: cursive;text-align: center;">All the best...!!!</h1>

<div class="name col-md-4 my-3">
    <label for="">Enter your name:</label>
    <input #name type="text" class="form-control">
</div>
<button class="btn btn-primary btn-lg" routerLink="/question " (click)="startQuiz()">Start the Test</button>
</div>
